# ===========================
# Framework
# ===========================
fastapi
uvicorn[standard]

# ===========================
# Banco de Dados
# ===========================
sqlalchemy
alembic
psycopg[binary]

# ===========================
# Configuração
# ===========================
pydantic-settings
python-dotenv

# ===========================
# Autenticação
# ===========================
python-jose[cryptography]
bcrypt
python-multipart
email-validator

# ===========================
# Testes
# ===========================
pytest
httpx
